html {
  background-image: url("mando.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: none;
  color: whitesmoke;
  text-align: center;
  
}

.title {
  color: black;
  font-size: 50px;
  text-decoration: underline turquoise;
  text-align:left;
}